{% extends 'base_admin.html.twig' %}

{% block title %}Game board{% endblock %}



{% block div %}

<h1 class="mb-3">Liste des jeux du site</h1>

<div class="d-flex justify-content-evenly">
    <a class="btn btn-outline-info" href="{{ path('app_admin') }}">Retour à l'admin</a>
    <a class="btn btn-outline-info" href="{{path('admin_add_game')}}">Créer un jeu</a>
</div>

<table class="table table-hover mt-3">

    <thead>
        <tr class="text-center">
            {# <th scope="col">#</th> #}
            <th scope="col">Nom du jeu</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}

        <tr>
            {# <td scope="row">{{ game.id }}</td> #}
            <td scope="row">{{ game.label }}
            </td>
            <td class="text-center"><a href="{{ path('admin_game_item',{ id: game.id } )}}"
                    class="btn btn-outline-success me-2"><i class="bi bi-eye-fill"></i></a>
                <a href="{{ path('admin_edit_game', { id: game.id })}}" class="btn btn-outline-primary me-2"><i
                        class="bi bi-pencil-square"></i>
                </a>
                <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{game.id}}"
                    class="btn btn-outline-danger"><i class="bi bi-trash3"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop{{game.id}}" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Suppression de {{game.label}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Souhaitez-vous vraiment supprimer ce produit ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{{ path('admin_remove_game',{id: game.id}) }}"
                                    class="btn btn-outline-danger">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>


        {% endfor %}

    </tbody>

</table>

{% endblock %}