{% extends "base_admin.html.twig" %}

{% block title %}
Jeu
{% endblock %}

{% block div %}
<h1 class="mb-3">{{ game.label }}</h1>

<a class="btn btn-outline-info mb-3" href="{{ path('admin_game_liste') }}">Retour à la liste</a>

<table class="table">
  <thead>
    <tr class="text-center">
      {# <th scope="col">#</th> #}
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
      <th scope="col">Catégorie</th>
      <th scope="col">Promotion</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      {# <th scope="row">{{game.id}}</th> #}
      <td>{{game.label}}</td>
      <td>{{game.description|slice(0,25)}}...</td>
      <td>{{game.price}} €</td>
      <td>{{game.category.label}}</td>
      {% if game.isReduced == 0 %}
      <td>NON</td>
      {% else %}
      <td>OUI</td>
      {% endif %}
    </tr>
  </tbody>
</table>



{% endblock %}