{% extends 'base.html.twig' %}

{% block title %}
All Games
{% endblock %}

{% block main %}

<div class="row mt-3">

  {% for product in products %}

  <div class="col-lg-4 mt-3">
    <div class="card">
      <img src="{{ product.media }}" class="card-img-top img-card" alt="...">
      <div class="card-body">
        <h5 class="card-title d-inline">{{ product.label }}</h5>
        {% if product.isReduced == 1 %}

        <p class="text-danger fw-bold d-inline">PROMO</p>

        {% endif %}
        <p class="card-text">{{ product.description|cut_text(40) }}</p>
        <a href="{{path('shop_item',{item: product.label})}}" class="btn btn-primary">Voir le jeu</a>
      </div>
    </div>
  </div>

  {% endfor %}

  <div class="d-flex justify-content-evenly">
    {% if page > 1 %}
    <a href="{{ path('shop_products', { page: page - 1 })  }}" class="btn btn-secondary mt-3 me-3">Page précédente</a>
    {% endif %}
    {% if page < maxPages %} <a href="{{ path('shop_products', { page: page + 1 })  }}" class="btn btn-secondary mt-3">
      Page
      suivante</a>
      {% endif %}
  </div>

</div>

{% endblock %}